services:
  mysql:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: urlshortner
      MYSQL_USER: ayush
      MYSQL_PASSWORD: "4112"
    ports:
      - "3307:3306"
    volumes:
      - "D:\\sql-data:/var/lib/mysql"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: url_shortner_backend
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - /app/node_modules
    restart: always
    depends_on:
      - mysql
    environment:
      JWT_SECRET: "4112sejal09"
      CHOKIDAR_USEPOLLING: "true"
      DATABASE_URL: "mysql://ayush:4112@mysql:3306/urlshortner"
      PORT: "5000"

  adminer:
    image: adminer
    restart: always
    container_name: mysql_adminer
    ports:
      - "8080:8080"
    depends_on:
      - mysql

  dozzle:
    image: amir20/dozzle
    container_name: dozzle
    restart: always
    ports:
      - "9999:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  mysql_data:
